<link href="https://fonts.googleapis.com/css?family=Cinzel|Libre+Baskerville|Merienda|ZCOOL+XiaoWei" rel="stylesheet">

<div class="container-fluid">
  <div class="row topbar">
    <div class="col-md-2">
      <img src="https://image.flaticon.com/icons/svg/25/25231.svg"  style="width: 15%;"><h2 text-center >Github Searcher</h2>

    </div>  
    
    <div class="col-md-6">
      <nav>
        <ul>
          <button class="btn btn-dark"><a routerLink = '/display' routerLinkActive = 'active'>Search For A User</a></button>
          <hr>
          <button class="btn btn-dark"><a routerLink = '/repo' routerLinkActive = 'active'>Search For A User's Repository</a></button>
          <hr>
        </ul>
      </nav> 
    </div>   
  </div>
  <router-outlet></router-outlet> 
</div>